<div *ngFor="let request of list" class="row">
  <div class="col-md-2">
    {{ request.client.name }}
  </div>
  <div class="col-md-2">
    {{ request.created_at | date:'medium' }}
  </div>
  <div class="col-md-1">
    {{ request.status }}
  </div>
  <div class="col-md-4">
    <a href="" routerLink="/{{ request.id }}">
      {{ request.subject }}
    </a>
  </div>
  <div class="col-md-1">
    {{ request.messages_count }}
  </div>
  <div class="col-md-2">
    <a href="" (click)="take(request)" *ngIf="currentUser.agent && !request.agent">Take</a>
    <a href="" (click)="open(request)" *ngIf="(currentUser.client || currentUser.admin) && (request.status == 'closed')">Re-open</a>
    <a href="" (click)="close(request)" *ngIf="(currentUser.client || currentUser.admin) && (request.status != 'closed')">Close</a>
    <a href="" (click)="archive(request)" *ngIf="currentUser.admin">Archive</a>
  </div>
</div>
<lazy-load (visible)="loadNext()"></lazy-load>
