<request-new *ngIf="currentUser.client"></request-new>

<div *ngFor="let request of list" class="row">
  <div class="col-md-2">
    <div *ngIf="!currentUser.client">
      {{ request.client.email }}
    </div>
    <div *ngIf="!currentUser.agent">
      <span *ngIf="request.agent">
        {{ request.agent.email }}
      </span>
      <span *ngIf="!request.agent">
        Agent is not assigned yet
      </span>
    </div>
  </div>
  <div class="col-md-2">
    {{ request.created_at | date:'medium' }}
  </div>
  <div class="col-md-1">
    {{ request.status }}
  </div>
  <div class="col-md-4">
    <a routerLink="/{{ request.id }}">
      {{ request.subject }}
    </a>
  </div>
  <div class="col-md-1">
    {{ request.messages_count }}
  </div>
  <div class="col-md-2">
    <a (click)="take(request)" *ngIf="currentUser.agent && !request.agent">Take</a>
    <a (click)="close(request)" *ngIf="(currentUser.client || currentUser.admin) && request.status != 'closed' && request.status != 'archived'">Close</a>
    <a (click)="archive(request)" *ngIf="currentUser.admin && request.status != 'archived'">Archive</a>
  </div>
</div>
<lazy-load (visible)="loadNext()"></lazy-load>
