<!DOCTYPE html>
<html>
  <head>
    <title>ng2</title>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'index', media: "all" %>

    <!-- Polyfill(s) for older browsers -->
    <script src="/assets/core-js/client/shim.min.js"></script>

    <script src="/assets/zone.js/dist/zone.js"></script>
    <script src="/assets/systemjs/dist/system.src.js"></script>

    <script src="systemjs.config.js"></script>
    <script>
      System.import('app/boot.js').catch(function(err){ console.error(err); });
    </script>
  </head>

  <body>
    <app-root>Loading...</app-root>
  </body>
</html>
